

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>管理者画面：メニュー</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="header/header.html"></div>
<div class="main" align="center">
    <div>
        <h1>管理者メニュー</h1>
    </div>
    <div>
        <ul>
            <li><a th:href="@{/admin/main/userList}">ユーザ一覧</a></li>
            <li><a th:href="@{/admin/main/createUser}">ユーザ作成</a></li>
        </ul>
    </div>
</div>
</body>
