

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>管理者画面：ユーザ一覧</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="header/header.html"></div>
<div class="main" align="center">
    <div>
        <h1>管理者メニュー</h1>
    </div>
    <form method="post" th:action="@{/admin/userList/editUserList}">
        <table>
            <tbody>
            <tr align="left">
                <th class="user-name">ユーザ名</th>
                <th class="user-role">管理者権限</th>
                <th class="button-wide"></th>
                <th class="button"></th>
            </tr>
            <tr th:each="userList:${userLists}">
                <td class="data" th:text="${userList.userName}"></td>
                <td class="data" th:text="${userList.userRole}"></td>
                <td>
                    <div th:unless="${#strings.equals(userId,userList.userId)}">
                        <button class="todo-list" name="changeRoleId" th:value="${userList.userId}">権限の変更</button>
                    </div>
                </td>
                <td>
                    <div th:unless="${#strings.equals(userId,userList.userId)}">
                        <button class="todo-list" name="deleteId" th:value="${userList.userId}">削除</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
