<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="header/header.html"></div>
<div class="main">
    <div>
        <h1 align="center">リスト一覧（完了しているもの）</h1>
    </div>

    <div>
        <form action="editTodoList" method="get">
            <input type="hidden" name="status" value="complete">
            <table align="center" border="1">
                <tbody>
                <tr align="left">
                    <th>内容</th>
                    <th>期限</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="todoList:${todoLists}">
                    <td th:text="${todoList.listContents}"></td>
                    <td th:text="${todoList.listLimit}"></td>
                    <td><button type="submit" name="processingId" th:value="${todoList.listId}">未完了にする</button></td>
                    <td><button type="submit" name="deleteId" th:value="${todoList.listId}">削除</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="submit" name="deleteCompleteAll">すべて削除</button></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div align="center">
        <a href="processing">Todoリストに戻る</a>
    </div>
</div>
</body>
</html>