<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="header/header.html"></div>
<div class="main" align="center">
    <div>
        <h1>リスト一覧（完了しているもの）</h1>
    </div>

    <div th:if="${todoLists.size() == 0}">
        <p>完了したTodoリストはありません。</p>
    </div>

    <div th:if="${todoLists.size() != 0}">
        <form method="get" th:action="@{/main/editTodoList}" >
            <input type="hidden" name="status" value="complete">
            <br><br><br>
            <table>
                <tbody>
                <tr align="left">
                    <th class="contents">内容</th>
                    <th class="limit">期限</th>
                    <th class="button-wide"></th>
                    <th class="button-wide"></th>
                </tr>
                <tr th:each="todoList:${todoLists}">
                    <td class="data" th:text="${todoList.listContents}"></td>
                    <td class="data" th:text="${#strings.isEmpty(todoList.listLimit) ? '期限なし' : todoList.listLimit}"></td>
                    <td><button class="todo-list" name="processingId" th:value="${todoList.listId}">未完了にする</button></td>
                    <td><button class="todo-list" name="deleteId" th:value="${todoList.listId}">削除</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="todo-list" name="deleteCompleteAll">すべて削除</button></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div>
        <a th:href="@{/main/processing}">Todoリストに戻る</a>
    </div>
</div>
</body>
</html>