<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="header/header.html"></div>
<div class="main">
    <div th:if="${editFlag}">
        <h1 align="center">編集画面</h1>
    </div>
    <div th:unless="${editFlag}">
        <h1 align="center">新規登録画面</h1>
    </div>

    <div>
        <form action="editTodoList" method="get">
            <table align="center" border="1">
                <tbody>
                <tr align="left">
                    <th>内容</th>
                    <th>期限</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="text" name="contents" th:value="${todoList.listContents}"></td>
                    <td><input type="date" name="limit" th:value="${todoList.listLimit}"></td>
                    <td>
                        <div th:if="${editFlag}">
                            <button type="submit" name="updateId" th:value="${todoList.listId}">編集</button>
                        </div>
                        <div th:unless="${editFlag}">
                            <button type="submit" name="insert">新規登録</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>