<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="header/header.html"></div>
<div class="main" align="center">
    <div>
        <h1><span th:text="${#bools.isTrue(isCreate) ? '新規登録画面' : '編集画面' }" /></h1>
    </div>

    <div>
        <form method="get" th:action="@{/main/editTodoList}" th:object="${todoListForm}">
            <input type="hidden" th:field="*{listId}">
            <div th:if="${#fields.hasErrors('listContents')}" th:errors="*{listContents}" style="color: red"></div>
            <table>
                <tbody>
                <tr align="left">
                    <th class="contents">内容</th>
                    <th class="limit">期限</th>
                    <th class="button"></th>
                </tr>
                <tr>
                    <td class="data"><input type="text" th:field="*{listContents}" th:errorclass="fieldError"></td>
                    <td class="data"><input type="date" th:field="*{listLimit}"></td>
                    <td>
                        <div th:if="${isCreate}">
                            <button class="todo-list" name="insert">新規登録</button>
                        </div>
                        <div th:unless="${isCreate}">
                            <button class="todo-list" name="update">編集</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>