<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="header/header.html"></div>
<div class="main">
    <div>
        <h1 align="center">編集画面</h1>
    </div>
    <div>
        <form action="editTodoList" method="get">
            <table align="center" border="1">
                <tbody>
                <tr align="left">
                    <th>内容</th>
                    <th>期限</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="text" name="contents" value="〇〇を買う"></td>
                    <td><input type="date" name="limit" value="2019-01-11"></td>
                    <td><input type="submit" name="insert" value="編集"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>