<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="header/header.html"></div>
<div class="main" align="center">
    <div>
        <h1>リスト一覧</h1>
    </div>

    <form method="get" th:action="@{/main/editing}">
        <br>
        <div>
            <button class="todo-list" name="isCreate" value="true">新規登録</button>
        </div>
        <br>
    </form>

    <div th:if="${todoLists.size() == 0}">
        <p>Todoリストに登録がありません。</p>
    </div>

    <div th:if="${todoLists.size() != 0}">
        <form action="editTodoList" method="get">
            <input type="hidden" name="status" value="processing">
            <table>
                <tbody>
                <tr align="left">
                    <th class="contents">内容</th>
                    <th class="due">期限</th>
                    <th class="button"></th>
                    <th class="button"></th>
                    <th class="button"></th>
                </tr>
                <tr th:each="todoList:${todoLists}" th:object="${todoList}">
                    <td class="data" th:text="*{contents}"></td>
                    <td class="data" th:text="${#strings.isEmpty(todoList.due) ? '期限なし' : todoList.due}"></td>
                    <td><button class="todo-list" name="completeId" th:value="*{listId}">完了</button></td>
                    <td><button class="todo-list" name="editId" th:value="*{listId}">編集</button></td>
                    <td><button class="todo-list" name="deleteId" th:value="*{listId}">削除</button></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div>
        <a th:href="@{/main/complete}">完了したものを表示</a>
    </div>
</div>
</body>
</html>