<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>パスワード変更画面</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<div th:replace="header/header.html"></div>
<body>
<div class="main" align="center">
    <div>
        <p>
        <h1>パスワード変更</h1>
        </p>
    </div>
    <div>
        <form method="post" th:action="@{/user/updatePassword}">
            <div class="errMsg" th:if="${oldPasswordMissMatch}">old passwordが一致しません</div>
            <div class="errMsg" th:if="${newPasswordMissMatch}">new passwordが一致しません</div>

            <label>old password</label><br>
            <input type="password" name="oldPassword" placeholder="old password" autofocus required/><br>
            <label>new password</label><br>
            <input type="password" name="newPasswordFirst" placeholder="new password" required/><br>
            <label>new password（again）</label><br>
            <input type="password" name="newPasswordSecond" placeholder="new password" required/><br>
            <button>パスワード変更</button>
        </form>
    </div>
</div>
</body>
</html>